<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>first</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>HelloA</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloA</servlet-name>
    <url-pattern>/Hello-link</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myName</display-name>
    <servlet-name>myName</servlet-name>
    <servlet-class>myName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myName</servlet-name>
    <url-pattern>/myName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloCheckbox</display-name>
    <servlet-name>HelloCheckbox</servlet-name>
    <servlet-class>HelloCheckbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloCheckbox</servlet-name>
    <url-pattern>/HelloCheckbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionExample</display-name>
    <servlet-name>SessionExample</servlet-name>
    <servlet-class>SessionExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionExample</servlet-name>
    <url-pattern>/SessionExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionExample1</display-name>
    <servlet-name>SessionExample1</servlet-name>
    <servlet-class>SessionExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionExample1</servlet-name>
    <url-pattern>/SessionExample1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSevlet</display-name>
    <servlet-name>LoginSevlet</servlet-name>
    <servlet-class>LoginSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSevlet</servlet-name>
    <url-pattern>/LoginSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculatoServlet</display-name>
    <servlet-name>CalculatoServlet</servlet-name>
    <servlet-class>CalculatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculatoServlet</servlet-name>
    <url-pattern>/CalculatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TinhTong</display-name>
    <servlet-name>TinhTong</servlet-name>
    <servlet-class>TinhTong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TinhTong</servlet-name>
    <url-pattern>/TinhTong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TinhToan</display-name>
    <servlet-name>TinhToan</servlet-name>
    <servlet-class>TinhToan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TinhToan</servlet-name>
    <url-pattern>/TinhToan</url-pattern>
  </servlet-mapping>
</web-app>